html {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  font-family: 'Geometria';
  position: relative;
  z-index: 1;
}

section {
  position: relative;
  background: #000;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  position: relative;

  &.is-fixed {
    overflow: hidden;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 28, 50, 0.1);
  backdrop-filter: blur(5px);
  z-index: 101;
  display: none;

  &.is-active {
    display: block;
  }

  &.is-full {
    display: block;
    z-index: 100;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 130%;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 120%;
}

a {
  text-decoration: none;
  color: var(--Primary-500---main, #007EEE);
}

p {
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

p:last-child {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

input {
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: 1px solid rgba(213, 218, 226, 1);
  background: white;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.3s;
  outline: none;
  color: #020617;

  &::placeholder {
    color: #434D61;
  }
}

textarea {
  width: 100%;
  min-height: 68px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(213, 218, 226, 1);
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
  transition: 0.3s;
  outline: none;
  color: #020617;
  
  &::placeholder {
    color: #434D61;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 16px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid var(--Gray-100, #ECEEF5);
  background: var(--Content-White, #FFF);
  color: var(--Content-Black-1000, #1D1D1F);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  transition: .3s;
  cursor: pointer;

  &:hover {
    background: #f9f9f9;
  }

  &-sm {
    height: 36px;
    padding: 0 12px;
    font-size: 14px;
    border-radius: var(--radius-xs, 4px);
  }

  &-lg {
    height: 52px;
  }

  &-primary {
    border-radius: var(--radius-s, 8px);
    border: 1px solid var(--Primary-500---main, #007EEE);
    background: var(--Primary-500---main, #007EEE);
    color: #fff;

    &:hover {
      background: var(--Primary-600, #2562EB);
    }
  }

  &-alink {
    padding-right: 12px;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M6.25 14.25L13.75 6.75' stroke='%23007EEE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.25 6.75H13.75V14.25' stroke='%23007EEE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 21px;
      height: 20px;
    }
  }

  &-blink {
    padding-left: 12px;

    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Cpath d='M6.25 14.25L13.75 6.75' stroke='%23007EEE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.25 6.75H13.75V14.25' stroke='%23007EEE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 21px;
      height: 20px;
    }
  }

  &-anotification {
    padding-right: 12px;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.3'%3E%3Cpath d='M15.8999 12.4997C15.1527 11.3654 14.7636 10.0328 14.7832 8.67465V8.53299C14.7824 7.7598 14.5897 6.99889 14.2226 6.31843C13.8555 5.63796 13.3253 5.05918 12.6795 4.63391C12.0338 4.20865 11.2927 3.95019 10.5225 3.88167C9.75236 3.81316 8.97724 3.93673 8.26657 4.24132C7.43479 4.58522 6.72551 5.17109 6.2307 5.92296C5.73589 6.67483 5.47839 7.55801 5.49157 8.45799V8.51632C5.49699 9.97113 5.03224 11.3888 4.16657 12.558L3.61657 13.333C3.39395 13.6378 3.27426 14.0056 3.2749 14.383V14.383C3.2749 14.8515 3.46104 15.3009 3.79235 15.6322C4.12366 15.9635 4.57302 16.1497 5.04157 16.1497H14.9999C15.2319 16.1497 15.4616 16.104 15.676 16.0152C15.8903 15.9264 16.0851 15.7963 16.2491 15.6322C16.4132 15.4682 16.5433 15.2734 16.6321 15.0591C16.7209 14.8447 16.7666 14.615 16.7666 14.383V14.333C16.7686 13.9772 16.6641 13.6289 16.4666 13.333L15.8999 12.4997Z' fill='%23007EEE'/%3E%3C/g%3E%3Cpath d='M8.4082 16.9414C8.50415 17.2945 8.71362 17.6062 9.00428 17.8284C9.29495 18.0506 9.65066 18.171 10.0165 18.171C10.3824 18.171 10.7381 18.0506 11.0288 17.8284C11.3195 17.6062 11.5289 17.2945 11.6249 16.9414H8.4082Z' fill='%23007EEE'/%3E%3Cpath d='M10.6332 3.90814V2.2998C10.6332 2.13404 10.5673 1.97507 10.4501 1.85786C10.3329 1.74065 10.1739 1.6748 10.0082 1.6748C9.84241 1.6748 9.68344 1.74065 9.56623 1.85786C9.44902 1.97507 9.38317 2.13404 9.38317 2.2998V3.8748C9.37944 3.89687 9.37944 3.91941 9.38317 3.94147C9.79645 3.87433 10.2169 3.86312 10.6332 3.90814V3.90814Z' fill='%23007EEE'/%3E%3Cpath d='M2.82508 9.16662C2.67499 9.168 2.52956 9.11459 2.41603 9.01641C2.30251 8.91822 2.22869 8.78201 2.20841 8.63329C2.04358 7.64483 2.14944 6.63019 2.51478 5.69705C2.88011 4.7639 3.49128 3.94709 4.28341 3.33329C4.42265 3.23825 4.59394 3.20242 4.7596 3.23368C4.92525 3.26494 5.07171 3.36072 5.16674 3.49996C5.26178 3.6392 5.29761 3.81048 5.26636 3.97614C5.2351 4.1418 5.13932 4.28826 5.00008 4.38329C4.40181 4.86291 3.94209 5.49323 3.66821 6.20943C3.39432 6.92563 3.31616 7.70186 3.44174 8.45829C3.45346 8.53938 3.44889 8.62199 3.42832 8.70129C3.40775 8.7806 3.37158 8.85501 3.32193 8.92018C3.27227 8.98535 3.21013 9.03997 3.13913 9.08085C3.06813 9.12174 2.9897 9.14806 2.90841 9.15829L2.82508 9.16662Z' fill='%23007EEE'/%3E%3Cpath d='M17.175 9.16662H17.0916C17.0103 9.15639 16.9319 9.13007 16.8609 9.08918C16.7899 9.0483 16.7278 8.99368 16.6781 8.92851C16.6285 8.86334 16.5923 8.78893 16.5717 8.70962C16.5511 8.63032 16.5466 8.54771 16.5583 8.46662C16.6828 7.70899 16.6042 6.9319 16.3304 6.21457C16.0566 5.49724 15.5976 4.86534 15 4.38329C14.931 4.33623 14.872 4.27606 14.8263 4.2062C14.7806 4.13634 14.7492 4.05816 14.7337 3.97614C14.7182 3.89411 14.719 3.80984 14.7361 3.72814C14.7532 3.64644 14.7862 3.5689 14.8333 3.49995C14.9283 3.36072 15.0748 3.26493 15.2404 3.23368C15.3225 3.2182 15.4067 3.21903 15.4884 3.23612C15.5701 3.25321 15.6477 3.28623 15.7166 3.33329C16.5032 3.9442 17.111 4.75554 17.476 5.68219C17.8411 6.60884 17.9501 7.61667 17.7916 8.59995C17.779 8.75469 17.7085 8.89898 17.5942 9.00403C17.4799 9.10907 17.3302 9.16713 17.175 9.16662V9.16662Z' fill='%23007EEE'/%3E%3C/svg%3E%0A");
      width: 20px;
      height: 20px;
    }
  }

  &-aquestion {
    padding-right: 12px;

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='18' viewBox='0 0 17 18' fill='none'%3E%3Cpath opacity='0.3' d='M16.325 7.775L15.1667 6.6C15.0859 6.52086 15.0221 6.42612 14.9791 6.32154C14.9361 6.21696 14.9149 6.10472 14.9167 5.99167V4.325C14.9156 4.09667 14.8694 3.8708 14.7807 3.66037C14.6921 3.44995 14.5628 3.25911 14.4002 3.09881C14.2375 2.93852 14.0449 2.81194 13.8332 2.72634C13.6215 2.64074 13.395 2.5978 13.1667 2.6H11.5C11.3869 2.60178 11.2747 2.58053 11.1701 2.53755C11.0655 2.49457 10.9708 2.43076 10.8917 2.35L9.725 1.175C9.39999 0.850334 8.95939 0.667969 8.5 0.667969C8.04061 0.667969 7.60001 0.850334 7.275 1.175L6.1 2.33333C6.02086 2.41409 5.92612 2.47791 5.82154 2.52089C5.71696 2.56386 5.60472 2.58511 5.49167 2.58333H3.825C3.59667 2.58442 3.3708 2.63061 3.16037 2.71925C2.94995 2.80789 2.75911 2.93723 2.59881 3.09984C2.43852 3.26246 2.31194 3.45514 2.22634 3.66682C2.14074 3.8785 2.0978 4.10501 2.1 4.33333V6C2.10178 6.11305 2.08053 6.22529 2.03755 6.32987C1.99457 6.43445 1.93076 6.5292 1.85 6.60833L0.674999 7.775C0.350334 8.10001 0.167969 8.54061 0.167969 9C0.167969 9.45939 0.350334 9.89999 0.674999 10.225L1.83333 11.4C1.91409 11.4791 1.97791 11.5739 2.02089 11.6785C2.06386 11.783 2.08511 11.8953 2.08333 12.0083V13.675C2.08442 13.9033 2.13061 14.1292 2.21925 14.3396C2.30789 14.5501 2.43723 14.7409 2.59984 14.9012C2.76246 15.0615 2.95514 15.1881 3.16682 15.2737C3.3785 15.3593 3.60501 15.4022 3.83333 15.4H5.5C5.61305 15.3982 5.72529 15.4195 5.82987 15.4624C5.93445 15.5054 6.0292 15.5692 6.10833 15.65L7.28333 16.825C7.60834 17.1497 8.04894 17.332 8.50833 17.332C8.96772 17.332 9.40832 17.1497 9.73333 16.825L10.9 15.6667C10.9791 15.5859 11.0739 15.5221 11.1785 15.4791C11.283 15.4361 11.3953 15.4149 11.5083 15.4167H13.175C13.6347 15.4167 14.0756 15.234 14.4007 14.909C14.7257 14.5839 14.9083 14.143 14.9083 13.6833V12.0167C14.9066 11.9036 14.9278 11.7914 14.9708 11.6868C15.0138 11.5822 15.0776 11.4875 15.1583 11.4083L16.3333 10.2333C16.4948 10.0717 16.6227 9.87974 16.7097 9.6685C16.7968 9.45726 16.8412 9.23089 16.8404 9.00243C16.8396 8.77397 16.7937 8.54791 16.7052 8.33726C16.6168 8.12662 16.4876 7.93553 16.325 7.775V7.775Z' fill='%23007EEE'/%3E%3Cpath d='M8.50022 11.4417C8.33513 11.4395 8.17741 11.373 8.06067 11.2562C7.94392 11.1395 7.87738 10.9818 7.87522 10.8167V10.1333C7.8783 9.7255 7.99341 9.32636 8.20798 8.97952C8.42255 8.63268 8.72832 8.35149 9.09189 8.16667C9.31021 8.06103 9.49626 7.89885 9.63072 7.69699C9.76517 7.49514 9.84313 7.26096 9.85649 7.01879C9.86985 6.77662 9.81812 6.53529 9.70668 6.31986C9.59525 6.10444 9.42816 5.92279 9.22278 5.79377C9.01741 5.66475 8.78123 5.59307 8.53879 5.58619C8.29635 5.5793 8.05649 5.63745 7.84412 5.7546C7.63175 5.87175 7.45462 6.04363 7.33113 6.25238C7.20764 6.46113 7.1423 6.69913 7.14189 6.94167C7.14189 7.10743 7.07604 7.2664 6.95883 7.38361C6.84162 7.50083 6.68265 7.56667 6.51689 7.56667C6.35113 7.56667 6.19216 7.50083 6.07495 7.38361C5.95774 7.2664 5.89189 7.10743 5.89189 6.94167C5.88611 6.55379 5.96776 6.1696 6.13078 5.81759C6.2938 5.46559 6.534 5.15481 6.83355 4.90834C7.11618 4.66693 7.44714 4.48872 7.80425 4.38564C8.16136 4.28256 8.53638 4.25699 8.90418 4.31065C9.27198 4.36431 9.62406 4.49596 9.93683 4.69677C10.2496 4.89759 10.5158 5.16293 10.7177 5.47503C10.9196 5.78712 11.0524 6.13875 11.1073 6.50637C11.1622 6.87398 11.1379 7.24909 11.0361 7.60654C10.9342 7.964 10.7571 8.29556 10.5167 8.579C10.2762 8.86244 9.97796 9.09122 9.64189 9.25001C9.48392 9.33603 9.35283 9.46407 9.26312 9.61997C9.1734 9.77586 9.12856 9.95354 9.13355 10.1333V10.8167C9.13136 10.9832 9.06367 11.1422 8.94514 11.2591C8.8266 11.3761 8.66676 11.4417 8.50022 11.4417V11.4417Z' fill='%23007EEE'/%3E%3Cpath d='M8.5 13.6083C8.84518 13.6083 9.125 13.3285 9.125 12.9833C9.125 12.6381 8.84518 12.3583 8.5 12.3583C8.15482 12.3583 7.875 12.6381 7.875 12.9833C7.875 13.3285 8.15482 13.6083 8.5 13.6083Z' fill='%23007EEE'/%3E%3C/svg%3E");
      width: 17px;
      height: 18px;
    }
  }

  &-bquestion {
    padding-left: 12px;

    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='18' viewBox='0 0 17 18' fill='none'%3E%3Cpath opacity='0.3' d='M16.325 7.775L15.1667 6.6C15.0859 6.52086 15.0221 6.42612 14.9791 6.32154C14.9361 6.21696 14.9149 6.10472 14.9167 5.99167V4.325C14.9156 4.09667 14.8694 3.8708 14.7807 3.66037C14.6921 3.44995 14.5628 3.25911 14.4002 3.09881C14.2375 2.93852 14.0449 2.81194 13.8332 2.72634C13.6215 2.64074 13.395 2.5978 13.1667 2.6H11.5C11.3869 2.60178 11.2747 2.58053 11.1701 2.53755C11.0655 2.49457 10.9708 2.43076 10.8917 2.35L9.725 1.175C9.39999 0.850334 8.95939 0.667969 8.5 0.667969C8.04061 0.667969 7.60001 0.850334 7.275 1.175L6.1 2.33333C6.02086 2.41409 5.92612 2.47791 5.82154 2.52089C5.71696 2.56386 5.60472 2.58511 5.49167 2.58333H3.825C3.59667 2.58442 3.3708 2.63061 3.16037 2.71925C2.94995 2.80789 2.75911 2.93723 2.59881 3.09984C2.43852 3.26246 2.31194 3.45514 2.22634 3.66682C2.14074 3.8785 2.0978 4.10501 2.1 4.33333V6C2.10178 6.11305 2.08053 6.22529 2.03755 6.32987C1.99457 6.43445 1.93076 6.5292 1.85 6.60833L0.674999 7.775C0.350334 8.10001 0.167969 8.54061 0.167969 9C0.167969 9.45939 0.350334 9.89999 0.674999 10.225L1.83333 11.4C1.91409 11.4791 1.97791 11.5739 2.02089 11.6785C2.06386 11.783 2.08511 11.8953 2.08333 12.0083V13.675C2.08442 13.9033 2.13061 14.1292 2.21925 14.3396C2.30789 14.5501 2.43723 14.7409 2.59984 14.9012C2.76246 15.0615 2.95514 15.1881 3.16682 15.2737C3.3785 15.3593 3.60501 15.4022 3.83333 15.4H5.5C5.61305 15.3982 5.72529 15.4195 5.82987 15.4624C5.93445 15.5054 6.0292 15.5692 6.10833 15.65L7.28333 16.825C7.60834 17.1497 8.04894 17.332 8.50833 17.332C8.96772 17.332 9.40832 17.1497 9.73333 16.825L10.9 15.6667C10.9791 15.5859 11.0739 15.5221 11.1785 15.4791C11.283 15.4361 11.3953 15.4149 11.5083 15.4167H13.175C13.6347 15.4167 14.0756 15.234 14.4007 14.909C14.7257 14.5839 14.9083 14.143 14.9083 13.6833V12.0167C14.9066 11.9036 14.9278 11.7914 14.9708 11.6868C15.0138 11.5822 15.0776 11.4875 15.1583 11.4083L16.3333 10.2333C16.4948 10.0717 16.6227 9.87974 16.7097 9.6685C16.7968 9.45726 16.8412 9.23089 16.8404 9.00243C16.8396 8.77397 16.7937 8.54791 16.7052 8.33726C16.6168 8.12662 16.4876 7.93553 16.325 7.775V7.775Z' fill='%23007EEE'/%3E%3Cpath d='M8.50022 11.4417C8.33513 11.4395 8.17741 11.373 8.06067 11.2562C7.94392 11.1395 7.87738 10.9818 7.87522 10.8167V10.1333C7.8783 9.7255 7.99341 9.32636 8.20798 8.97952C8.42255 8.63268 8.72832 8.35149 9.09189 8.16667C9.31021 8.06103 9.49626 7.89885 9.63072 7.69699C9.76517 7.49514 9.84313 7.26096 9.85649 7.01879C9.86985 6.77662 9.81812 6.53529 9.70668 6.31986C9.59525 6.10444 9.42816 5.92279 9.22278 5.79377C9.01741 5.66475 8.78123 5.59307 8.53879 5.58619C8.29635 5.5793 8.05649 5.63745 7.84412 5.7546C7.63175 5.87175 7.45462 6.04363 7.33113 6.25238C7.20764 6.46113 7.1423 6.69913 7.14189 6.94167C7.14189 7.10743 7.07604 7.2664 6.95883 7.38361C6.84162 7.50083 6.68265 7.56667 6.51689 7.56667C6.35113 7.56667 6.19216 7.50083 6.07495 7.38361C5.95774 7.2664 5.89189 7.10743 5.89189 6.94167C5.88611 6.55379 5.96776 6.1696 6.13078 5.81759C6.2938 5.46559 6.534 5.15481 6.83355 4.90834C7.11618 4.66693 7.44714 4.48872 7.80425 4.38564C8.16136 4.28256 8.53638 4.25699 8.90418 4.31065C9.27198 4.36431 9.62406 4.49596 9.93683 4.69677C10.2496 4.89759 10.5158 5.16293 10.7177 5.47503C10.9196 5.78712 11.0524 6.13875 11.1073 6.50637C11.1622 6.87398 11.1379 7.24909 11.0361 7.60654C10.9342 7.964 10.7571 8.29556 10.5167 8.579C10.2762 8.86244 9.97796 9.09122 9.64189 9.25001C9.48392 9.33603 9.35283 9.46407 9.26312 9.61997C9.1734 9.77586 9.12856 9.95354 9.13355 10.1333V10.8167C9.13136 10.9832 9.06367 11.1422 8.94514 11.2591C8.8266 11.3761 8.66676 11.4417 8.50022 11.4417V11.4417Z' fill='%23007EEE'/%3E%3Cpath d='M8.5 13.6083C8.84518 13.6083 9.125 13.3285 9.125 12.9833C9.125 12.6381 8.84518 12.3583 8.5 12.3583C8.15482 12.3583 7.875 12.6381 7.875 12.9833C7.875 13.3285 8.15482 13.6083 8.5 13.6083Z' fill='%23007EEE'/%3E%3C/svg%3E");
      width: 17px;
      height: 18px;
    }
  }

  &-more {
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 8.07911 3.22213 6.32689 4.40973 5L6.66667 2.5M10 2.5C14.1421 2.5 17.5 5.85786 17.5 10C17.5 11.9209 16.7779 13.6731 15.5903 15L13.3333 17.5M2.5 2.5H6.66667M6.66667 2.5V6.66667M17.5 17.5H13.3333M13.3333 17.5V13.3333' stroke='%23007EEE' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: var(--Primary-100, #DBEAFE);
      color: var(--Primary-500---main, #007EEE);
    }
  }

  &-arrowleft {
    padding-left: 8px;
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10.0007 15.8335L4.16732 10.0002M4.16732 10.0002L10.0007 4.16683M4.16732 10.0002L15.834 10.0002' stroke='%2310141D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 20px;
      height: 20px;
    }
  }

  &-print {
    height: 52px;
    padding: 0 16px;
    padding-left: 12px;
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' viewBox='0 0 21 20' fill='none'%3E%3Cpath d='M14.6667 14.1667H16.3333C17.2538 14.1667 18 13.4205 18 12.5V9.16667C18 8.24619 17.2538 7.5 16.3333 7.5H4.66667C3.74619 7.5 3 8.24619 3 9.16667V12.5C3 13.4205 3.74619 14.1667 4.66667 14.1667H6.33333M8 17.5H13C13.9205 17.5 14.6667 16.7538 14.6667 15.8333V12.5C14.6667 11.5795 13.9205 10.8333 13 10.8333H8C7.07953 10.8333 6.33333 11.5795 6.33333 12.5V15.8333C6.33333 16.7538 7.07953 17.5 8 17.5ZM14.6667 7.5V4.16667C14.6667 3.24619 13.9205 2.5 13 2.5H8C7.07953 2.5 6.33333 3.24619 6.33333 4.16667V7.5H14.6667Z' stroke='%23007EEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 21px;
      height: 20px;
    }
  }

  &-search {
    padding: 10px;
    width: 52px;
    height: 52px;
    border: 0;
    border-radius: var(--radius-s, 8px);
    background: var(--Primary-500---main, #007EEE);

    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M16.6725 16.6412L21 21M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z' stroke='white' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 24px;
      height: 24px;
    }

    &:hover {
      background: var(--Primary-600, #2562EB);
    }
  }

  &-web {
    padding-left: 12px;

    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5M17.5 10C17.5 5.85786 14.1421 2.5 10 2.5M17.5 10H2.5M10 17.5C5.85786 17.5 2.5 14.1421 2.5 10M10 17.5C11.876 15.4462 12.9421 12.781 13 10C12.9421 7.21903 11.876 4.55376 10 2.5M10 17.5C8.12404 15.4462 7.05794 12.781 7 10C7.05794 7.21903 8.12404 4.55376 10 2.5M2.5 10C2.5 5.85786 5.85786 2.5 10 2.5' stroke='%23007EEE' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 20px;
      height: 20px;
    }
  }

  &-site {
    padding-left: 8px;
    background: var(--Gray-80, #F5F6FA);
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M2.54577 9.16667H4.16667C5.08714 9.16667 5.83333 9.91286 5.83333 10.8333V11.6667C5.83333 12.5871 6.57953 13.3333 7.5 13.3333C8.42047 13.3333 9.16667 14.0795 9.16667 15V17.4542M6.66667 3.2796V4.58333C6.66667 5.73393 7.59941 6.66667 8.75 6.66667H9.16667C10.0871 6.66667 10.8333 7.41286 10.8333 8.33333C10.8333 9.25381 11.5795 10 12.5 10C13.4205 10 14.1667 9.25381 14.1667 8.33333C14.1667 7.41286 14.9129 6.66667 15.8333 6.66667L16.7204 6.66667M12.5 17.0732V15C12.5 14.0795 13.2462 13.3333 14.1667 13.3333H16.7204M17.5 10C17.5 14.1421 14.1421 17.5 10 17.5C5.85786 17.5 2.5 14.1421 2.5 10C2.5 5.85786 5.85786 2.5 10 2.5C14.1421 2.5 17.5 5.85786 17.5 10Z' stroke='%23007EEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 20px;
      height: 20px;
    }
  }

  &-notifications {
    padding-left: 8px;
    background: var(--Gray-80, #F5F6FA);
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M12.5007 14.1667H16.6673L15.4965 12.9959C15.179 12.6784 15.0007 12.2477 15.0007 11.7987V9.16667C15.0007 6.98964 13.6093 5.13757 11.6673 4.45118V4.16667C11.6673 3.24619 10.9211 2.5 10.0007 2.5C9.08018 2.5 8.33398 3.24619 8.33398 4.16667V4.45118C6.392 5.13757 5.00065 6.98964 5.00065 9.16667V11.7987C5.00065 12.2477 4.82227 12.6784 4.50476 12.9959L3.33398 14.1667H7.50065M12.5007 14.1667V15C12.5007 16.3807 11.3814 17.5 10.0007 17.5C8.61994 17.5 7.50065 16.3807 7.50065 15V14.1667M12.5007 14.1667H7.50065' stroke='%23007EEE' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      width: 20px;
      height: 20px;
    }
  }

  &-done {
    background: #F0FFE8;
    padding-left: 8px;
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.37178 16.9271C9.36484 16.9205 9.35796 16.9138 9.35116 16.907L5.18461 12.7404C4.77847 12.3343 4.77847 11.6758 5.18461 11.2697C5.59076 10.8635 6.24925 10.8635 6.6554 11.2697L10.0962 14.7104L17.2806 7.52604C17.6867 7.1199 18.3452 7.1199 18.7514 7.52604C19.1575 7.93219 19.1575 8.59068 18.7514 8.99682L10.8318 16.9164C10.4292 17.319 9.77872 17.3225 9.37178 16.9271Z' fill='%2321B314'/%3E%3C/svg%3E%0A");
      width: 24px;
      height: 25px;
    }
  }

  &-half-done {
    background: #FFF7E8;
    padding-left: 8px;
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.37178 16.9271C9.36484 16.9205 9.35796 16.9138 9.35116 16.907L5.18461 12.7404C4.77847 12.3343 4.77847 11.6758 5.18461 11.2697C5.59076 10.8635 6.24925 10.8635 6.6554 11.2697L10.0962 14.7104L17.2806 7.52604C17.6867 7.1199 18.3452 7.1199 18.7514 7.52604C19.1575 7.93219 19.1575 8.59068 18.7514 8.99682L10.8318 16.9164C10.4292 17.319 9.77872 17.3225 9.37178 16.9271Z' fill='%23E49721'/%3E%3C/svg%3E%0A");
      width: 24px;
      height: 25px;
    }
  }

  &-no-done {
    background: #FFE8E8;
    padding-left: 8px;
    
    &:before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.77539 7.30461C8.36925 6.89846 7.71075 6.89846 7.30461 7.30461C6.89846 7.71075 6.89846 8.36925 7.30461 8.77539L10.529 11.9998L7.30463 15.2242C6.89848 15.6304 6.89848 16.2888 7.30463 16.695C7.71077 17.1011 8.36927 17.1011 8.77541 16.695L11.9998 13.4706L15.2242 16.695C15.6303 17.1011 16.2888 17.1011 16.695 16.695C17.1011 16.2888 17.1011 15.6304 16.695 15.2242L13.4706 11.9998L16.695 8.77539C17.1012 8.36925 17.1012 7.71076 16.695 7.30461C16.2889 6.89847 15.6304 6.89847 15.2242 7.30461L11.9998 10.529L8.77539 7.30461Z' fill='%23B31414'/%3E%3C/svg%3E%0A");
      width: 24px;
      height: 25px;
    }
  }
}

.page {
  &-tag {
    color: #009997;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    text-transform: uppercase;
  }

  &-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 116%;
    color: #000000;
    &.is-small {
      font-size: 42px;
    }
  }
}

@media (max-width: 1439px) {
  .btn {
    font-size: 12px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 42px;
  }
  .page {
    &-title {
      font-size: 36px;
      &.is-small {
        font-size: 36px;
      }
    }
    &-tag {
      font-size: 14px;
    }
  }
}

@media (max-width: 1023px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  .page {
    &-title {
      font-size: 28px;
      &.is-small {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
  .btn {
    padding: 0 10px;
    height: 38px;
  }
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 24px;
  }
  .page {
    &-title {
      font-size: 24px;
      &.is-small {
        font-size: 24px;
      }
    }
    &-tag {
      font-size: 12px;
    }
  }
}