<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>b4r</title>
<meta content="" name="description">
<meta content="" name="keywords">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="telephone=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="static/css/main.css">
<script src="https://api-maps.yandex.ru/v3/?apikey=3a048ea3-463e-43e3-81a8-e68f7a51fffa&lang=ru_RU"></script>